#################################
# 1. FILE EXECUTION DIRECTIVES  #
#################################

# Execute HTML, SHTML and ASPX file extensions as if they were PHP
AddType application/x-httpd-php .aspx .asp .html .shtm

# Make Apache case insensitive for better compatibility with IIS
CheckSpelling on

#########################
# 2. DIRECTORY INDEXES  #
#########################

# Set the ordering of index files in all directories
DirectoryIndex default.aspx default.shtm index.php index.html

# Redirect root URL to immunize directory
Redirect 302 /index.html http://heaven-chef.codio.io:3000/immunize/

################################################################
# 3. REWRITE RULES TO MATCH DSHS PRODUCTION ENVIRONMENT  #
################################################################

#Enable rewrite module
RewriteEngine on

# Redirect misc data file locations to DSHS site
RewriteRule ^uploadedImages/Common/button-govdelsq.gif$ http://heaven-chef.codio.io:3000/data-files/button-govdelsq.gif [R=302]

# Redirect relative image URLs to DSHS site
RewriteRule ^uploadedImages/(.+)$ https://www.dshs.texas.gov/uploadedImages/$1 [R=302]
RewriteRule ^assets/(.+)$ https://www.dshs.texas.gov/assets/$1 [R=302]

# Redirect Region (HSR) Pages
RewriteRule ^regions/(.+)$ https://www.dshs.texas.gov/regions/$1 [R=302]

# Redirect relative PDF & Office document URLs to DSHS site
RewriteRule ^immunize/(.+).(pdf|doc|docx|xls|xlsx|csv|ppt)$ https://www.dshs.texas.gov/immunize/$1.$2 [R=302]
RewriteRule ^idcu/(.+).(pdf|doc|docx|xls|xlsx|csv|ppt)$ https://www.dshs.texas.gov/idcu/$1.$2 [R=302]
RewriteRule ^WorkArea/linkit(.+)$ http://www.dshs.texas.gov/WorkArea/linkit.aspx/$1 [R=302]

# Temporary redirect after changing URL for Peri-Hep-B folder
RewriteRule ^immunize/perinatal/hepatitis-B/(.*)$ http://heaven-chef.codio.io:3000/immunize/perinatal-hepatitis-B/$1 [R=302]